<template>
<div class="w-2/3 mx-auto">
  <div class="bg-white shadow-md rounded my-6">
<table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
            <tr>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Id</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Code</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Description</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Type</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">OrderId</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Created</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Updated</th>
            </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
            <tr v-for="operation in operations" :key="operation.Id">
                <td class="px-6 py-4 whitespace-nowrap">{{operation.id}}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{operation.code}}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{operation.description}}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{operation.type}}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{operation.orderId}}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{new Date(operation.createdAt).toLocaleDateString()}}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{new Date(operation.updatedAt).toLocaleDateString()}}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
</template>

<script lang="ts">
import Component from "vue-class-component";
import { Prop, Watch, Vue } from "vue-property-decorator";
import { operationService } from "../services/OperationService";

@Component
export default class operationsList extends Vue {
  operations = [];
  async mounted() {
    await this.fetchOperation();
  }

  async fetchOperation(): Promise<void> {
    this.operations = await operationService.get();
  }

  data() {
    return {
      componentKey: 0,
    };
  }
}
</script>
