<template>
<div class="w-2/3 mx-auto">
  <div class="bg-white shadow-md rounded my-6">
<table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
            <tr>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Id</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Code</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Description</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Created</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Updated</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"></th>
            </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
            <tr v-for="order in orders" :key="order.Id">
                <td class="px-6 py-4 whitespace-nowrap">{{order.id}}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{order.code}}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{order.description}}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{new Date(order.createdAt).toLocaleDateString()}}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{new Date(order.updatedAt).toLocaleDateString()}}</td>
                <td class="px-6 py-4 whitespace-nowrap">
                    <a title="Show operations" :href="'/orders/' + order.id + '/operations'" class="py-2 px-4 bg-green-500 text-white font-semibold rounded-lg shadow-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75">
                        <i class="fas fa-clipboard-list"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
</template>

<script lang="ts">
import Component from "vue-class-component";
import { Prop, Watch, Vue } from "vue-property-decorator";
import { orderService } from "../services/OrderService";

@Component
export default class OrdersList extends Vue {
  orders = [];
  async mounted() {
    await this.fetchOrders();
  }

  async fetchOrders(): Promise<void> {
    this.orders = await orderService.get();
  }

  data() {
    return {
      componentKey: 0,
    };
  }
}
</script>
